h1
{
    text-align: center;
    color:white;
}

body 
{
    width: 90vw;
    height: 97vh;
    background: rgb(7,67,75);
    background: linear-gradient(90deg, rgba(7,67,75,1) 0%, rgba(0,0,0,1) 50%, rgba(7,67,75,1) 100%);
}